
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root{
    --white-clr: #fff;
    --black-clr: #000;
    --light-black: #333;
    --primary-clr: #e6303d;
    --secondary-clr: #eee;
    --tag-clr: #7cc576;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}
a:hover{
   color: var(--primary-clr);
}
img{
    width: 100%;
    height: 100%;
    display: block;
    transition: transform .3s ease-in-out;
}
.flex{
    display: flex;
    align-items: center;
}
.container{
    max-width: 80%;
    margin:auto;
}
.section{
    padding-top:4rem ;
}
/* navbar style */
header{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0px 5px 14.25px .75px rgba(36,11,12,.05);
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--light-black);
}

.link{
    font-size: .95rem;
    color: var(--light-black);
    text-transform: uppercase;
     font-weight: 500;
}
.icon{
     font-size:.9rem;
     color: var(--light-black);
     width: 40px;
     height: 40px;
     line-height: 40px;
     text-align: center;
     border-radius:50% ;
}
.icoon:hover{
    background-color: var(--secondary-clr);
}
span,
.link-active,
.icon-active{
    color: var(--primary-clr);
}
.navbar{
    height: 12hv;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.nav-list{
    gap: 2.5rem;
}
.nav-icons{
    gap: .8rem;
}
.hamburger{
    font-size: 1.7rem;
    color: var(--primary-clr);
    display: none;
}

/*section style*/
.hero{
    height: 115vh;
    background-image: url("hero-image.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 6rem;
}
.hero-content{
    height: 100%;
    justify-content: flex-end;
}
h3{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.7rem;
}
h1{
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 600;
    color: var(--light-black);}
h4{
   font-size: 1.3rem;
   font-weight: 400;
   line-height: 3.7rem;
   margin-bottom: 1.5rem;
}
button{
    font-size: .9rem;
    font-weight: 600;
    padding: .8rem 2.2rem;
    text-transform: uppercase;
    color: white;
    background-color: var(--primary-clr);
    border: none;
    transition: all .3s ease-in-out;
}
button:hover{
    background: var(--light-black);
}
.category-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.7rem;
}
.category:nth-child(1),
.category:nth-child(4){
    grid-row: 1/3;
}
.category:nth-child(2){
    grid-row: 1/2;
}
.category{
    position: relative;
    overflow: hidden;
}
.category button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-weight: 400;
    background-color: white;
    color: var(--black-clr);
    z-index: 3;
}
.category button:hover{
    background: var(--primary-clr);
    color:white;
}
 .category:hover img{
    transform: scale(1.1);
 }

 .category::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: white;
    opacity: .2;
    z-index: 2;
    transition: all .3s ease-in-out;
}
 .category:hover::before{
        width: 100%;
 }
 h2{
     font-size: 2rem;
     line-height: 4rrem;
     color: var(--light-black);
     font-weight: 500;
     text-align: center;
     
 }
 .line{
    background: var(--primary-clr);
    width: 60px;
    height: 2.5px;
    margin: auto;
 }
 .cart-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    margin-top: 4rem;
}

.card{
    background: white;
}

.card img{
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.card-content{
    padding-top: 1rem;
}

.title{
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: .8rem;
}

.Amount{
    color: var(--primary-clr);
    font-weight: 600;
}
/* NEW PRODUCT SECTION */

.cart-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 4rem;
}

.card{
    background: var(--white-clr);
    padding: 1rem;
    border: 1px solid #eee;
    position: relative;
    overflow: hidden;
    transition: .3s ease-in-out;
}

.card:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card img{
    width: 100%;
    height: 220px;
    object-fit: contain;
}

.card-content{
    text-align: center;
    padding-top: 1rem;
}

.title{
    font-size: 1rem;
    line-height: 1.7rem;
    color: var(--light-black);
    margin-bottom: .7rem;
}

.Amount{
    color: var(--primary-clr);
    font-weight: 700;
    margin-left: .4rem;
}

del{
    color: gray;
    font-size: .9rem;
}

/* TAGS */

.sale,
.new{
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: white;
    padding: .3rem 1rem;
    font-size: .8rem;
    font-weight: 500;
}

.sale{
    background: crimson;
}

.new{
    background: #7cc576;
}